[data-complexity-preference^="IIIII"] pre {
  background-color: var(--color-light-accent);
  padding: var(--space-2xs);
  margin: var(--space-2xs) 0 var(--space-s);
  border-radius: var(--border-radius);
  overflow: auto;
  display: flex;
}

[data-complexity-preference^="IIIII"] code {
  font-family: var(--font-monospace);
  padding: calc(var(--space-2xs) * 0.25) var(--space-2xs);
  border-radius: 5px;
  background-color: var(--color-light-accent);
}

[data-complexity-preference^="IIIII"] pre code {
  padding: 0;
  border: none;
  background-color: var(--color-light-accent);
}