---
title: An interactive alt decision tree
tags:
  - webpage
  - decision-tree
layout: layouts/nested-page-layout.njk
permalink: /decision-trees/image-alt-text/index.html
eleventyComputed:
  eleventyNavigation:
    key: Interactive alt decision tree
    parent: All
---

<h1>{{title}}</h1>
<i>Uses CSS :has instead of JS for interactivity</i>
{% set leaf = trees.images %}
{% include "partials/decision-tree.njk" %}