[data-button] {
  --minimum-height: var(--controls-minimum-height);
  font-family: var(--font-sans-serif);
  padding: var(--button-padding-y, 0) var(--button-padding-x, var(--space-s));
  border-radius: var(--button-border-radius, var(--border-radius));
  min-height: var(--minimum-height);
  line-height: var(--button-line-height, --minimum-height);
  text-decoration: var(--button-text-decoration);
  color: var(--button-color, var(--color-dark));
  background-color: var(--button-background-color, var(--color-light));
  cursor: pointer;
  display: var(--button-display, inline-flex);
  gap: var(--space, 0);
  justify-content: var(--horizontal-alignment, flex-start);
  align-items: var(--vertical-alignment, center);
  border-style: solid;
  border-width: var(--button-border-width, var(--border-thin, 1px));
  border-color: var(--button-border-color, var(--color-dark));
  box-shadow: 0px var(--button-shadow-width, 0px) 0px currentColor;
}

[data-button~="primary"] {
  --vertical-alignment: center;
  --button-color: var(--color-light);
  --button-background-color: var(--color-dark);
  --button-hover-background-color: var(--color-light);
  /* --button-hover-border-color: var(--color-dark-accent); */
  --button-hover-color: var(--color-dark-accent);
}
[data-button~="outline"],
[data-button~="tag"] {
  --vertical-alignment: center;
  --button-hover-background-color: var(--color-dark);
  --button-hover-border-color: var(--color-dark);
  --button-hover-color: var(--color-light);
}

[data-button~="text"],
[data-button~="tag"],
[data-button~="link"] {
  --minimum-height: auto;
  --button-padding-y: 0;
}
[data-button~="text"],
[data-button~="link"] {
  --button-padding-x: 0;
  --button-border-width: 0;
  --button-border-radius: 0;
  --button-display: inline;
  --button-line-height: 1.5;
}
[data-button~="link"] {
  --button-text-decoration: underline;

  /* --button-background-color: var(--color-dark-accent); */
  /* --button-color: var(--color-primary); */
  --button-padding-x: var(--space-2xs);
  --button-border-radius: var(--border-radius);
}
[data-button~="tag"] {
  --button-border-radius: var(--space-l);
}

[data-button~="active"],
[data-button]:active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/**
 *
 * Sizes
 *
 */

[data-button~="small"] {
  --controls-minimum-height: 24px;
  --button-padding-x: var(--space-2xs);
  font-size: calc(var(--step-0) * 0.75);
}

/* [data-button] svg{
  flex-shrink: 0;
}


[data-button~="link"]{
  border-width: var(--border-thin, 2px);
  --minimum-height: 1em;
  --border-radius: 2px;
  --button-padding-y: var(--space-2xs);
  --button-padding-x: var(--space-2xs);
  font-weight: normal;
}
[data-button~="tag"]{
  border-radius: var(--space-l);
  padding: calc(var(--space-xs) * 0.2) var(--space-xs);
  font-size: var(--step-0);
}
[data-button~="small"]{
  --minimum-height: 20px;
  --button-padding-y: var(--space-2xs);
  --button-padding-x: var(--space-2xs);
  font-size: var(--step--1);
}

[data-button~="active"],
[data-button]:active {
  background-color: var(--color-dark);
  color: var(--color-light);
}
[data-button~="disabled"],
[data-button]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */

/* [data-link] {
  transition-timing-function: var(--bezier-snappy);
}
[data-link]:hover {
  background-color: var(--gray-200);
  box-shadow: 0 0 0 8px var(--gray-200);
} */

/* 
[data-link="button"] {
  --minimum-height: 36px;
  --border-radius: 2px;
  --button-padding-y: var(--space-2xs);
  --button-padding-x: var(--space-2xs);
  padding: var(--button-padding-y) var(--button-padding-x);
  border-radius: var(--border-radius);
  min-height: var(--minimum-height);
  font-weight: bold;
  line-height: var(--minimum-height);
  text-decoration: none;
  color: var(--color-dark);
  background-color: var(--color-light);
  cursor: pointer;
  display: inline-flex;
  gap: var(--space, 0);
  justify-content: var(--vertical-alignment, flex-start);
  align-items: var(--horizontal-alignment, center);
  border-style: solid;
  border-width: var(--border-thin, 1px);
  border-color: var(--color-dark);
} */

@media (hover: hover) {
  /* On desktop and hover capable screens */
  [data-button~="link"] {
    --button-text-decoration: none;
    --button-background-color: var(--color-light);
    --button-shadow-width: var(--border-thin);
    --button-padding-x: 0;
    --button-border-radius: 0;
  }
  [data-button]:not([data-button~="noHover"]):hover {
    background-color: var(
      --button-hover-background-color,
      var(--button-background-color)
    );
    color: var(--button-hover-color, var(--button-color));
    border-color: var(--button-hover-border-color, var(--button-border-color));
  }
  [data-button~="link"]:not([data-button~="noHover"]):hover {
    --button-shadow-width: var(--border-thick);
  }
  /* [data-button~="noHover"]:hover {
    transition: none;
    --button-shadow-width: 0px;
    box-shadow: unset;
  } */

  /* [data-button]:not([disabled]):hover {
    background-color: var(--color-dark);
    color: var(--color-light);
  } */
}
