<!DOCTYPE html>
<html lang="en">
    {% include "partials/site-head.njk" %}
    <body>
        {% include "partials/site-header.njk" %}
        <main id="main-content" data-layout="stack" data-props="x:stretch space:l">
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        {# {% include "partials/site-footer.njk" %} #}
    </body>
</html>