<!DOCTYPE html>
<html lang="en">
    {% include "partials/site-head.njk" %}
    <body data-layout="cover" data-props="noPad">
        {% include "partials/site-header.njk" %}
        <main data-layout="stack" data-props="centered x:start">
            {% block content %}
                This page does not have any content
            {% endblock %}
        </main>
        {% include "partials/site-footer.njk" %}
    </body>
</html>