<!DOCTYPE html>
<html lang="en">
    {% include "partials/site-head.njk" %}
    <body data-layout="cover" data-props="noPad space:xl">
        {% include "partials/site-header.njk" %}
        <main data-layout="stack" data-props="centered x:stretch">
            {% block content %}
            {# TODO: handle empty pages #}
                This page does not have any content
            {% endblock %}
        </main>
        {% include "partials/site-footer.njk" %}
    </body>
</html>