{% extends "layouts/base.njk" %}
{% block content %}
    <article data-layout="stack" data-props="space:l">
        <a aria-hidden data-heading="5" href="/">{{ title }}</a>
        <p>{{description}}</p>
        {{ content | safe }}
    </article>
{% endblock %}