{% extends "layouts/base-layout.njk" %}
{% block content %}
    {% include "partials/site-breadcrumbs.njk" %}
    <div data-layout="stack" data-props="space:s">
        {{ content | safe }}
    </div>
{% endblock %}