{% extends "layouts/base-layout.njk" %}
{% block content %}
    {% include "partials/site-breadcrumbs.njk" %}
    <article data-layout="stack" data-props="space:l">
        {{ content | safe }}
    </article>
{% endblock %}