{% extends "layouts/base.njk" %}
{% block content %}
    <div class="story-with-sidebar" data-layout="with-sidebar" data-props="side:left">
        <aside data-layout="stack">
            <span data-heading="5" id="story-toc">Table of contents</span>
            <nav aria-labelledby="story-toc" data-layout="stack">
                <a href="#summary">Overview</a>
                <a href="#reference">Further reading</a>
                <a href="#related">Related</a>
            </nav>
        </aside>
        <article>
            {{ content | safe }}
        </article>
    </div>
    {# </article> #}
{% endblock %}