{% block content %}
    {% include "partials/site-breadcrumbs.njk" %}
    <div class="story-with-sidebar" data-layout="with-sidebar" data-props="side:left">
        <aside>
            {% block aside %}{% endblock %}
        </aside>
        <article data-layout="stack" style="--space: var(--space-2xl, 3rem);">
            {% block main %}{% endblock %}
        </article>
    </div>
{% endblock %}