{% extends "layouts/base.njk" %}
{% block content %}
    <div class="story-with-sidebar" data-layout="with-sidebar" data-props="side:left">
        <aside>
            <nav>
                <details>
                    <summary>
                        Table of contents
                    </summary>
                    <ol data-layout="stack" data-props="split">
                        <li>
                            <a href="#summary">Overview</a>
                        </li>
                        <li>
                            <a href="#reference">Further reading</a>
                        </li>
                        <li>
                            <a href="#related">Related</a>
                        </li>
                    </ol>
                </details>
            </nav>
        </aside>
        <article>
            {{ content | safe }}
        </article>
    </div>
{% endblock %}