---
title: Frontend Stories
pagination: 
    data: collections.stories
    size: 6
    alias: entries
layout: layouts/home.njk
permalink: "stories/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
{% set entries = entries %}
{% set nextStory = collections.stories | getNextCollectionItem(pagination.page) %}
{% set previousStory = collections.stories | getPreviousCollectionItem(pagination.page) %}
{% include "partials/story-card-list.njk"%}

