---
pagination: 
    data: stories
    size: 1
    alias: story
    addAllPagesToCollections: true
tags: card
permalink: false
---

<li>
    {% set url = ["/stories/", story.name | slugify] | join %}
    <a href="{{ url }}">{{ story.name }}</a>
    <p>{{ story.description }}</p>
    <ul>
        {%- for category in story.categories %}
            <li>{{ category.name }}</li>
        {% endfor -%}
    </ul>
</li>