---
layout: layouts/nested-page-layout.njk
title: Findings 
tags: 
    - webpage
page_description: Findings grouped by category.
permalink: /findings/
eleventyComputed:
    description: "Explore documented findings about frontend development, grouped by categories."
    eleventyNavigation:
        key: Findings
        parent: Home
---

<h1>
    {{ title }}
</h1>
<p>
    {{ collections.stories.length }} referenced articles on front-end development covering case studies, resarch papers, guidelines and best practices, focused on {{collections.categories | join(", ")}} and more.
</p>
<section data-accordion data-props="noMeasure space:l">
    {%- for category in collections.categories %}
        {% set entries = collections.stories | filterByCategory(category) %}
        <details>
            {# {%if loop.index <= 5 %}open{%endif%} #}
            <summary>
                <b>
                    {{ category }}
                </b>
            </summary>
            <ul data-props="space:s" role="list" data-layout="stack">
                {% for entry in collections.stories | filterByCategory(category) %}
                    {% include "partials/story-card-entry.njk" %}
                {% endfor %}
            </ul>
        </details>
    {% endfor -%}
</section>