---
layout: layouts/base-layout.njk
pagination:
  data: collections.categories
  size: 1
  alias: category
  addAllPagesToCollections: true
permalink: "/categories/{{ category | slugify }}/index.html"
eleventyComputed:
  title: "Findings about {{ category }} | Frontend Stories"
  description: "Discover findings about {{category}} on Frontend Stories. {{meta.site_description}}"
  eleventyNavigation:
    key: "{{category}}"
    title: "{{category}}"
    parent: Findings
---
{% extends "layouts/category-layout.njk" %}
{% block article %}
  <h1 data-heading="3">
    {{ category }}
  </h1>
  <p>
    Here are some findings related to the subject of {{ category }}.
    <ul class="story-cards" data-layout="grid" data-props="noPad space:s" role="list">
      {% set entries = collections.stories | filterByCategory(category) %}
      {%- for entry in entries %}
        {% include "partials/story-card-entry.njk" %}
      {% endfor -%}
    </ul>
  </p>
{% endblock %}