---
title: Categories
layout: layouts/categories-layout.njk
tags: 
    - webpage
permalink: /categories/
---
<div data-layout="cluster">
    {%- for category in collections.categories %}
        <a href="/categories/{{ category | slugify }}" data-tag>{{ category }}</a>
    {% endfor -%}
</div>