---
title: Categories
layout: layouts/categories-layout.njk
tags: 
    - webpage
permalink: /categories/
---

<h1 data-heading="3">
    <span aria-hidden="true">🔖</span>
    {{ title }}
</h1>
<section data-layout="cover">
    <div data-layout="cluster">
        {%- for category in collections.categories %}
            <a href="/categories/{{ category | slugify }}" data-button>{{ category }}</a>
        {% endfor -%}
    </div>
</section>