---
layout: layouts/category-layout.njk
pagination:
  data: collections.categories
  size: 1
  alias: category
  addAllPagesToCollections: true
permalink: "/categories/{{ category | slugify }}/index.html"
eleventyComputed:
  title: "Category: {{ category }}"
  eleventyNavigation:
    key: "{{category}}"
    title: "{{category}}"
    parent: Stories
---


<h1 data-heading="3">
  {{ category }}
</h1>
<p>
  Here are some findings related to the subject of {{ category }}.
  <ul class="story-cards" data-layout="grid" data-props="noPad" role="list">
    {% set entries = collections.stories | filterByCategory(category) %}
    {%- for entry in entries %}
      {% include "partials/story-card-entry.njk" %}
    {% endfor -%}
  </ul>
</p>