---
layout: layouts/home.njk
title: Home
tags: 
    - webpage
permalink: /
---

<article data-layout="stack" data-props="space:l">
    <h1>Frontend Stories</h1>
    {# <section data-layou="stack">
        <h2 data-heading="4">Recently added</h2>
        <ul data-layout="reel" data-props="noBorder">
            {% set entries = stories | limitTo(6) %}
            {%- for entry in entries %}
                {% include "partials/story-card-entry.njk" %}
            {% endfor -%}
        </ul>
    </section> #}
</article>