---
pagination: 
    data: collections.stories
    size: 1
    alias: story
layout: layouts/story.njk
permalink: stories/{{story.name | slugify}}/
eleventyComputed:
  title: "Story : {{ story.name | truncate(15) }} "
---

{% set nextStory = collections.stories | getNextCollectionItem(pagination.page) %}
{% set previousStory = collections.stories | getPreviousCollectionItem(pagination.page) %}
{# {% set story = story %} #}
<div data-layout="stack" data-props="space:xl">
    <div data-layout="cover" data-props="x:start noPad ">
        <ul data-layout="cluster" role="list" data-props="noPad">
            {%- for category in story.categories %}
                <li>
                    <a data-tag href="/categories/{{ category.name | slugify }}/">{{ category.name }}</a>
                </li>
            {% endfor -%}
        </ul>
            <h1 data-heading="3" data-props="centered noBorder" >{{ story.name }}</h1>
        {# <nav aria-labelledby="{{ story.id }}" data-layout="box cluster" data-props="x:between invert">
            <div class="box">
                {% if pagination.href.previous %}
                    <a data-layout="box" data-props="noCurve noBorder " href="{{ pagination.href.previous }}">
                        <span>Previous</span>
                    </a>
                {% endif %}
            </div>
            <div class="box">
                {% if pagination.href.next %}
                    <a data-layout="box" data-props="noCurve noBorder space:0" href="{{ pagination.href.next }}">
                        <span>Next</span>
                    </a>
                {% endif %}
            </div>
        </nav> #}
    </div>
    <section id="summary" data-layout="cover" data-props="noPad">
        <h2 data-heading="4">Overview</h2>
        <div data-mardown data-props="space:s">
            {% renderTemplate "md, liquid", story %}
            <span>
                {{ description }}
            </span>
            {% endrenderTemplate %}
        </div>
    </section>
    <section id="reference" data-layout="cover" data-props="noPad">
        <h2 data-heading="4">Further Readings</h2>
        <ul data-layout="stack" data-props="noPad x:stretch">
            {%- for reference in story.references %}
                <a data-layout="box stack" target="{{ '_blank' if reference.url }}" href="{{ (reference.url if reference.url else '#') }}">
                    <span>{{ reference.name + " " + reference.cite }}</span>
                    {% if reference.summary %}
                        <span>{{ reference.summary }}</span>
                    {% endif %}
                </a>
            {% endfor -%}
        </ul>
    </section>
    <section id="related" data-layout="cover" data-props="noPad">
        <h2 data-heading="4">Related Stories</h2>
        {% set entries = stories | similarStories(story.id, story.categories) | limitTo(3) %}
        {% if entries.length > 0 %}
            <ul data-layout="grid" role="list" data-props="noPad x:stretch">
                {%- for entry in entries %}
                    {% include "partials/story-card-entry.njk" %}
                {% endfor -%}
            </ul>
        {% else %}
            <p>No related stories found</p>
        {% endif %}
    </section>
    <span data-heading="5" id="pagination-nav">Pagination</span>
    <nav aria-labelledby="pagination-nav" data-layout="switcher" data-props="x:between">
        {% if pagination.href.previous %}
            <a data-button href="{{ pagination.href.previous }}">
                <span>Previous</span>
            </a>
        {% endif %}
        {% if pagination.href.next %}
            <a data-button href="{{ pagination.href.next }}">
                <span>Next</span>
            </a>
        {% endif %}
    </nav>
</div>