---
pagination: 
    data: collections.stories
    size: 1
    alias: story
layout: layouts/story.njk
permalink: stories/{{story.name | slugify}}/
eleventyComputed:
  title: "Story : {{ story.name | truncate(15) }} "
---

{% set nextStory = collections.stories | getNextCollectionItem(pagination.page) %}
{% set previousStory = collections.stories | getPreviousCollectionItem(pagination.page) %}
<div data-layout="stack" data-props="space:xl">
    <section
        id="cover" data-layout="stack">
        <h2 class="visually-hidden" data-heading="4">Cover</h2>
        <div data-layout="cover box" data-props="x:start invert">
            
            <h1 data-heading="3" data-props="centered noBorder">{{ story.name }}</h1>
            <figure>
                {{ meta.site_url| qrcode | safe }}
                <figcaption class="visually-hidden">Share link</figcaption>
            </figure>
        </div>
        <ul data-layout="cluster" role="list" data-props="noPad">
                {%- for category in story.categories %}
                    <li>
                        <a data-tag href="/categories/{{ category.name | slugify }}/">{{ category.name }}</a>
                    </li>
                {% endfor -%}
            </ul>
    </section>
    <section id="summary" data-layout="cover" data-props="noPad">
        <h2 data-heading="4">Overview</h2>
        <p>Last updated:
            <time datetime={{ story.edited }}>{{ story.created | readableDate }}</time>
        </p>
        <div data-mardown data-props="space:s">
            {% renderTemplate "md, liquid", story %}
            <span>
                {{ description }}
            </span>
            {% endrenderTemplate %}
        </div>
    </section>
    <section id="reference" data-layout="cover" data-props="noPad">
        <h2 data-heading="4">Further Readings</h2>
        <ul data-layout="stack" data-props="noPad x:stretch" data-props="space:xs">
            {%- for reference in story.references %}
                <li data-layout="box stack" >
                    <a data-button  target="{{ '_blank' if reference.url }}" href="{{ (reference.url if reference.url else '#') }}">
                        <span data-heading="5">{{ reference.name }}</span>
                    </a>
                    <div data-layout="cluster" data-props="x:between">

                    {% if reference.cite %}
                        <p>{{ reference.cite }}</p>
                    {% endif %}

                    <p>({{reference.type.name}})</p>
                    </div>
                    {% if reference.summary %}
                        <p style="text-align: justify;">{{ reference.summary | truncate(230) }}</p>
                    {% endif %}
                    {% if reference.citation %}
                        <small>{{ reference.citation }}</small>
                    {% endif %}
                </li>
            {% endfor -%}
        </ul>
    </section>
    <section id="related" data-layout="cover" data-props="noPad">
        <h2 data-heading="4">Related Stories</h2>
        {% set entries = stories | similarStories(story.id, story.categories) | limitTo(5) %}
        {% if entries.length > 0 %}
            <ul data-layout="reel" role="list" data-props="noPad overflowing:noBar">
                {%- for entry in entries %}
                    {% include "partials/story-card-entry.njk" %}
                {% endfor -%}
            </ul>
        {% else %}
            <p>No related stories found</p>
        {% endif %}
    </section>
    {# <img src="{{ "https://google.com" | qrcode  }}" alt="QR code for this URL."> #}
    <span data-heading="6" id="pagination-nav">Navigate to other stories</span>
    <nav aria-labelledby="pagination-nav" data-layout="switcher" data-props="x:between">
        {% if pagination.href.previous %}
            <a data-button href="{{ pagination.href.previous }}">
                <span>Previous</span>
            </a>
        {% endif %}
        {% if pagination.href.next %}
            <a data-button href="{{ pagination.href.next }}">
                <span>Next</span>
            </a>
        {% endif %}
    </nav>
</div>