---
pagination: 
    data: collections.stories
    size: 1
    alias: story
    addAllPagesToCollections: true
layout: layouts/base-layout.njk
permalink: /{{story.slug}}/
og_type: article
eleventyComputed:
    title: "{{ story.name | truncate(150) }} "
    thumbnail: "{{ story.cover }}?w=1200&h=628"
    emojicon: "{{ story.icon }}"
    description: "{{story.excerpt}}"
    eleventyNavigation:
        key: "{{story.id}}"
        title: "{{story.name}}"
        parent: Stories
---

{% extends "layouts/story-layout.njk" %}
{% block aside %}
    {# <time datetime="{{ story.created }}">{{ story.created | readableDate }}</time> #}
    <p>{{ story.description | emojiReadTime }}</p>
    {# <figure>
                            {{ meta.site_url| qrcode | safe }}
                            <figcaption class="visually-hidden">Share link</figcaption>
                        </figure> #}
{% endblock %}
{% block main %}
    {# {% set nextStory = collections.stories | getNextCollectionItem(page) %}
    {% set previousStory = collections.stories | getPreviousCollectionItem(page) %} #}
    <section
        aria-labelledby="story-name" id="cover">
        {# {% if emojicon %}
                    <span aria-hidden data-font="emoji">{{ emojicon }}</span>
                {% endif %} #}
        <div data-props="x:start  noBorder">
            <h1 id="story-name" data-heading="3" data-props="centered noBorder">
                {{ story.name }}
            </h1>
            <hr/>
        </div>
    </section>
    <section aria-labelledby="summary">
        <div data-layout="stack" data-props="space:xs">
            <h2 id="summary" data-heading="4 anchor">
                <a href="#summary">Summary</a>
            </h2>
            <div data-layout="stack" data-markdown>
                {% renderTemplate "md, liquid", story %}
                {{ description }}
                {% endrenderTemplate %}
            </div>
        </div>
    </section>
    <section aria-labelledby="references">
        <div data-layout="stack" data-props="space:xs">
            <h2 id="references" data-heading="4 anchor">
                <a href="#references">References</a>
            </h2>
            <ul data-layout="stack" data-props="noPad x:stretch space:xs">
                {%- for reference in story.references %}
                    {% include "partials/reference-item.njk" %}
                {% endfor -%}
            </ul>
        </div>
    </section>
    <section aria-labelledby="contribute">
        <div data-layout="stack" data-props="space:xs">
            <h2 id="contribute" data-heading="4 anchor">
                <a href="#contribute">Contribute and give feedback</a>
            </h2>
            <p>If you would like to provide feedback or contribute content on this resource, please fill out the
                <b>
                    <a data-link href="{{ contribute.tally_url }}?slugs={{ story.slugs }}&title={{ story.name }}&category={{ story.category.name }}&description={{ story.description }}" target="_blank">this form</a>
                </b>.
            </p>
        </div>
    </section>
    {# <img src="{{ "https://google.com" | qrcode  }}" alt="QR code for this URL."> #}
    <span class="visually-hidden" data-heading="6" id="pagination-nav">Navigate to other stories</span>
    <nav
        class="story-pagination-navigation"
        aria-labelledby="pagination-nav"
        data-layout="switcher"
        data-props="x:between y:stretch">
        {% if pagination.href.previous %}
            <a data-button data-layout="stack" data-props="space:0" href="{{ pagination.href.previous }}">
                <span>
                    <span aria-hidden="true" data-font="emoji">◀️</span>
                    Previous item</span>
                <span>{{ pagination.page.previous.name | truncate(40) }}</span>
            </a>
        {% endif %}
        {% if pagination.href.next %}
            <a data-layout="stack" data-button data-props="space:0 y:end" href="{{ pagination.href.next }}">
                <div>
                    <span>

                    Next item
                    </span>
                    <span aria-hidden="true" data-font="emoji">▶️</span>
                </div>
                <p>{{ pagination.page.next.name | truncate(40) }}</p>
            </a>
        {% endif %}
    </nav>
{% endblock %}