---
pagination: 
    data: collections.stories
    size: 1
    alias: story
    addAllPagesToCollections: true
layout: layouts/base-layout.njk
permalink: /{{story.slug}}/
og_type: "article"
eleventyComputed:
    title: "{{ story.name | truncate(150) }} "
    thumbnail: "{{meta.site_url}}/images/og-images/og-{{ story.slugs }}.png"
    emojicon: "{{ story.icon }}"
    description: "{{story.excerpt}}"
    eleventyNavigation:
        key: "{{story.id}}"
        title: "{{story.name}}"
        parent: Findings
---

{% extends "layouts/story-layout.njk" %}
{% set story_contribution_url = contribute.tally_url+"?slugs="+story.slugs+"&title="+story.name+"&category="+story.category.name %}
{# <figure>
                        {{ meta.site_url| qrcode | safe }}
                        <figcaption class="visually-hidden">Share link</figcaption>
                    </figure> #}
{% block article %}
    <header aria-labelledby="story-name" data-layout="stack" id="cover" data-props="space:l x:start">
        {% if emojicon %}
            <span data-heading="1" aria-hidden="true" data-font="emoji">{{ emojicon }}</span>
        {% endif %}
        <h1 itemprop="headline" id="story-name" data-heading="1" data-props="centered noBorder noMeasure space:2xs">
            {{ story.name }}
        </h1>
        <div data-layout="cluster">
            <p>
                <span aria-hidden="true" data-font="emoji">📅</span>
                Created on
                <time itemprop="datePublished" datetime="{{ story.created }}">{{ story.created | readableDate }}</time>
            </p>
            <p>
                <span aria-hidden="true" data-font="emoji">✒</span>
                Last update on
                <time itemprop="dateModified" datetime="{{ story.edited }}">{{ story.edited | readableDate }}</time>
            </p>
            <p>
                <span aria-hidden="true" data-font="emoji">📁</span>
                Part of
                <a href="/categories/{{ story.category.name | slugify }}" data-button="link"># {{ story.category.name }}</a>
            </p>
            <link itemprop="thumbnailUrl" href="{{ thumbnail }}"/> {% set type = story.type.name %}
        </div>
        <meta itemprop="description" content="{{ story.excerpt }}"/>
        <meta itemprop="teaches" content="{{ story.category.name }}"/>
    </header>
    <section aria-labelledby="summary">
        <div data-layout="stack" data-props="space:xs">
            <h2 class="visually-hidden" id="summary" data-heading="2 anchor">
                <a href="#summary">Overview</a>
            </h2>
            <div itemprop="articleBody" data-layout="stack" data-markdown>
                {% renderTemplate "md, liquid", story %}
                {{ description }}
                {% endrenderTemplate %}
            </div>
        </div>
    </section>
    <section aria-labelledby="references">
        <div data-layout="stack" data-props="x:start space:s">
            <h2 id="references" data-heading="anchor">
                <a href="#references">References</a>
            </h2>
            <p>Here you can find a list of references to dive deeper on the subject.</p>
            <ul data-layout="stack">
                {%- for reference in story.references %}
                    {% include "partials/reference-item.njk" %}
                {% endfor -%}
            </ul>
        </div>
    </section>
    <section aria-label="Navigate" data-layout="stack">
        <h2 class="visually-hidden" data-heading="6" id="pagination-nav" data-props="space:s">Navigate to other findings</h2>
        <nav
            class="story-pagination-navigation"
            aria-labelledby="pagination-nav"
            data-layout="switcher"
            data-props="x:between y:stretch space:xs">
            {% if pagination.href.previous %}
                <a data-button="link" class="previous-button" href="{{ pagination.href.previous }}">
                    {{ pagination.page.previous.name }}
                </a>
            {% endif %}
            {% if pagination.href.next %}
                <a class="next-button" data-button="link" href="{{ pagination.href.next }}">
                    {{ pagination.page.next.name }}
                </a>
            {% endif %}
        </nav>
    </section>
    <section aria-labelledby="contribute">
        <div data-layout="stack" data-props="x:stretch space:xs">
            <h2 id="contribute" data-heading="anchor">
                <a href="#contribute">Contribute</a>
            </h2>
            <p>
                Share ideas, suggestions, or comments here
            </p>
            
            {% if type == "Insight" %}
                <p>
                    This finding does not include enough research based evidence. You can help support or refute its premises.
                </p>
            {% endif %}
            <div data-layout="cluster" data-props="x:stretch" style="--threshold: var(--measure);">
                <a data-button="outline" data-props="x:center" href="{{ story_contribution_url }}" target="_blank">
                    Add a remark</a>
                <a
                    data-button="outline"
                    data-props="x:center"
                    href="https://twitter.com/intent/tweet?text={{ story.name }}%20via%20@FrontendStories&url={{ meta.site_url }}{{ page.url }}"
                    target="_blank">
                    Mention on Twitter</a>
            </div>
        </div>
    </section>
{% endblock %}