---
layout: layouts/nested-page-layout.njk
title: All Stories
description: Stories grouped by category.
tags: 
    - webpage
permalink: /stories/index.html
eleventyNavigation:
  key: Stories
  parent: Home
---

<h1 data-heading="3">
    {{ title }}
</h1>
<p>
    {{ description }}
</p>
<ul role="list" data-accordion data-props="noMeasure space:l">
    {%- for category in collections.categories %}
        {# <h2 data-heading="5">{{ category }}</h2> #}
        {% set entries = collections.stories | filterByCategory(category) %}
        <details data-layout="stack">
            <summary>
                <span>
                    {{ category }}
                </span>
                <span>
                    ({{ entries.length }})
                </span>
            </summary>
            <ul class="story-cards" data-props="noPad space:m" role="list" data-layout="grid">
                {% for entry in collections.stories | filterByCategory(category) %}
                    {% include "partials/story-card-entry.njk" %}
                {% endfor %}
            </ul>
        </details>
    {% endfor -%}
</ul>