---
layout: layouts/nested-page-layout.njk
title: All Stories
description: All stories on the site grouped by categories.
tags: 
    - webpage
permalink: /stories/index.html
eleventyNavigation:
  key: Stories
  parent: Home
---

<h1 data-heading="3">
    {{ title }}
</h1>
<p>
    {{ description }}
</p>
<ul role="list" data-layout="stack" data-props="noMeasure space:xl">
    {%- for category in collections.categories %}
        <li data-layout="stack">
            <h2 data-heading="5">{{ category }}</h2>
            <ul class="story-cards" data-props="noPad space:m" role="list" data-layout="grid">
                {% for entry in collections.stories | filterByCategory(category) %}
                {% include "partials/story-card-entry.njk" %}
                {% endfor %}
            </ul>
        </li>
    {% endfor -%}
</ul>