---
layout: layouts/home-layout.njk
hero_title: Selection of research findings related to web development
hero_description: Frontend Stories is a collection of research findings and insights about web development.
showHeader: true
pagination: 
    data: collections.categoriesAndAll
    size: 1
    alias: currentCategory
    addAllPagesToCollections: true
permalink: "{% if currentCategory == 'All'%}/{% else %}/{{currentCategory | slugify}}/index.html{% endif %}"
eleventyComputed:
    title: "Home - {{currentCategory}} | Frontend Stories"
    description: "{{meta.site_description}} Home - {{currentCategory}}"
    eleventyNavigation:
        key: "{{currentCategory}}"
        title: "{{'Home' if currentCategory == 'All' else currentCategory}}"
---

<p>
    Frontend Stories aims to provide you with accessible research data, facts, quotes, and articles about frontend
    development.
</p>
<section data-layout="stack">
    <h2>
        {{ "Stories" if currentCategory == 'All' else 'Entries tagged with: '+currentCategory }}
    </h2>
    <p>
        Stories are insights backed by research papers
    </p>
    {%- set entries = collections.stories | filterByCategory(currentCategory) | limit(50) -%}
    {%- for entry in entries %}
        {% include "partials/story-card-entry.njk" %}
    {% endfor -%}

    <h2>Interactive decision trees</h2>
    <p>Decision trees are a simple and effective tool for making design choices in user interfaces.
        Here we check how far we can go to generate decision trees with plain HTML+CSS.
    </p>
    <a class="headline-entry" data-heading="6" data-font="sans-serif" itemprop="url" data-button="link" href="/decision-trees/image-alt-text/index.html" data-icon="{{ entry.icon }}">
        Images Alternative text
    </a>
    <a class="headline-entry" data-heading="6" data-font="sans-serif" itemprop="url" data-button="link" href="/decision-trees/informative-messaging/index.html" data-icon="{{ entry.icon }}">
        Informative Messaging
    </a>
</section>