---
layout: layouts/home-layout.njk
hero_title: Selection of research findings related to web development
hero_description: Frontend Stories is a collection of research findings and insights about web development.
pagination: 
    data: collections.categoriesAndAll
    size: 1
    alias: currentCategory
    addAllPagesToCollections: true
permalink: "{% if currentCategory == 'All'%}/{% else %}/{{currentCategory | slugify}}/index.html{% endif %}"
eleventyComputed:
    title: "Home - {{currentCategory}} | Frontend Stories"
    description: "{{meta.site_description}} Home - {{currentCategory}}"
    eleventyNavigation:
        key: "{{currentCategory}}"
        title: "{{'Home' if currentCategory == 'All' else currentCategory}}"
---

{# <nav  class="categories-navigation" data-layout="cluster" aria-labelledby="Navigate by topics">
    <strong data-font="sans-serif">Browse by topics:</strong>
    {%- for category in collections.categoriesAndAll %}
        {% set category_url = '' if category == 'All' else category | slugify %}
        {% set category_count = collections.stories | filterByCategory(category) | length %}
        {% set isActive = 'active noHover' if currentCategory == category %}
        <a rel="tag" data-props="x:center" href="/{{ category_url }}">
            <span aria-hidden>#</span>{{ 'All' if category == 'All' else category }} 
            <span>({{ category_count }})</span>
            </a>
    {% endfor -%}
</nav> #}
<section data-layout="stack">
    <h1 data-heading="5">
        {{ "All entries" if currentCategory == 'All' else 'Entries tagged with: '+currentCategory }}
    </h1>
        {%- set entries = collections.stories | filterByCategory(currentCategory) | limit(50) -%}
        {%- for entry in entries %}
            {% include "partials/story-card-entry.njk" %}
        {% endfor -%}
</section>