---
title: Preferences
tags:
  - webpage
layout: layouts/nested-page-layout.njk
permalink: /preferences/
eleventyComputed:
  description: "Set your preferences"
  eleventyNavigation:
    key: Preferences
    parent: About
---

<h1>Preferences</h1>

You can select the visual complexity of this website.  

{% include "partials/preference-complexity.njk"%}