---
title: Preferences
tags:
  - webpage
layout: layouts/nested-page-layout.njk
permalink: false
eleventyComputed:
  description: "Set your preferences"
  eleventyNavigation:
    key: Preferences
    parent: All
---

<h1>Preferences</h1>

{% include "partials/preference-complexity.njk"%}