---
pagination: 
    data: collections.stories
    size: 1
    alias: story
    addAllPagesToCollections: true
layout: layouts/base-layout.njk
permalink: /{{story.slug}}/
og_type: "article"
eleventyComputed:
    title: "{{ story.name | truncate(160) }} "
    thumbnail: "{{meta.site_url}}/assets/images/og-images/og-{{ story.slugs }}.png"
    emojicon: "{{ story.icon }}"
    description: "{{story.description}}"
    markdownContent: "{{story.markdownContent}}"
    eleventyNavigation:
        key: "{{story.id}}"
        title: "{{story.name}}"
        parent: "{{story.category.name}}"
---
{% extends "layouts/story-layout.njk" %}
{% set story_contribution_url = contribute.tally_url+"?slugs="+story.slugs+"&title="+story.name+"&category="+story.category.name %}
{% block article %}
    <header aria-labelledby="headline">
        <h1 itemprop="headline" id="headline" data-props="centered noBorder  space:2xs">
            {% if emojicon %}
                <span aria-hidden="true" data-font="emoji">{{ emojicon }}</span>
            {% endif %}
            {{ story.name }}
        </h1>
        {# <div data-layout="switcher box">
            <p>
                <span aria-hidden="true" data-font="emoji">📁</span>
                Filed under:
                <a href="/{{ story.category.name | slugify }}" data-button="link">{{ story.category.name }}</a>
            </p>
            <p>
                <span aria-hidden="true" data-font="emoji">📅</span>
                Created on:
                <time itemprop="datePublished" datetime="{{ story.created }}">{{ story.created | readableDate }}</time>
            </p>
            <p>
                <span aria-hidden="true" data-font="emoji">✍</span>
                Edited on:
                <time itemprop="dateModified" datetime="{{ story.edited }}">{{ story.edited | readableDate }}</time>
            </p>
        </div> #}
        <p>
                <span aria-hidden="true" data-font="emoji">✍</span>
                Edited on:
                <time itemprop="dateModified" datetime="{{ story.edited }}">{{ story.edited | readableDate }}</time>
            </p>
        <link itemprop="thumbnailUrl" href="{{ thumbnail }}"/> {% set type = story.type.name %} <meta itemprop="description" content="{{ story.excerpt }}"/>
        <meta itemprop="teaches" content="{{ story.category.name }}"/>
    </header>
    <h2 id="summary" data-heading="anchor">
        <a href="#summary">Overview</a>
    </h2>
    {% renderTemplate "md, liquid", story %}
    {{ markdownContent }}
    {% endrenderTemplate %}
    <h2 id="references" data-heading="anchor">
        <a href="#references">Evidence and further readings</a>
    </h2>
    <p>Here you can find a list of references to dive deeper on the subject.</p>
    <ul>
        {%- for reference in story.references %}
            {% include "partials/reference-item.njk" %}
        {% endfor -%}
    </ul>
    {# <h2 id="contribute">
        <a href="#contribute">Mentions</a>
    </h2>
    <p>
        Share ideas, suggestions, or comments on this entry:
    </p>
    <a
        data-button="outline"
        data-props="x:center space:s"
        href="https://twitter.com/intent/tweet?text={{ story.name }}%20via%20@FrontendStories&url={{ meta.site_url }}{{ page.url }}"
        target="_blank">
        Share on Twitter</a> #}
    {# <h2 id="pagination-nav">
        <a href="#pagination-nav">Other findings</a>
    </h2>
    <p>Explore other entries by order of publication:</p>
    <nav
        class="story-pagination-navigation"
        aria-labelledby="pagination-nav"
        data-layout="switcher"
        data-props="x:between y:stretch space:xs">
        {% if pagination.href.next %}
            <a class="next-button" data-button="outline" href="{{ pagination.href.next }}">
                {{ pagination.page.next.name }}
            </a>
        {% endif %}
        {% if pagination.href.previous %}
            <a data-button="outline" class="previous-button" href="{{ pagination.href.previous }}">
                {{ pagination.page.previous.name }}
            </a>
        {% endif %}
    </nav> #}
{% endblock %}