
:root {
    --color-primary: hsl(225, 73%, 59%);
    --color-light: var(--gray-100);
    --color-dark: var(--gray-900);
    --color-focus: var(--color-dark);
    --color-focus-shadow: var(--gray-600);
  
    --border-radius: 0.5rem;
  
    --bezier-snappy: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --bezier-swift: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }
