/* atkinson-hyperlegible-regular - latin */
@font-face {
     font-family: 'Atkinson Hyperlegible';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/atkinson-hyperlegible-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/atkinson-hyperlegible-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* atkinson-hyperlegible-italic - latin */
   @font-face {
     font-family: 'Atkinson Hyperlegible';
     font-style: italic;
     font-weight: 400;
     src: local(''),
          url('../fonts/atkinson-hyperlegible-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/atkinson-hyperlegible-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* atkinson-hyperlegible-700 - latin */
   @font-face {
     font-family: 'Atkinson Hyperlegible';
     font-style: normal;
     font-weight: 700;
     src: local(''),
          url('../fonts/atkinson-hyperlegible-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/atkinson-hyperlegible-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }


  /* noto-emoji-regular - emoji */
@font-face {
     font-family: 'Noto Emoji';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/noto-emoji-v26-emoji-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/noto-emoji-v26-emoji-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* noto-emoji-600 - emoji */
@font-face {
     font-family: 'Noto Emoji';
     font-style: normal;
     font-weight: 600;
     src: local(''),
          url('../fonts/noto-emoji-v26-emoji-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/noto-emoji-v26-emoji-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }

:root{
     --font-body: 'Atkinson Hyperlegible', sans-serif;
     --font-emoji: 'Noto Emoji', system-ui, sans-serif;
}

[data-font="emoji"]{
     font-family: var(--font-emoji);
}