*,
:after,
:before {
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-sans-serif);
  font-size: var(--step-0);
  background-color: var(--color-light);
  color: var(--color-dark);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  --measure: 40ch;
  max-width: var(--measure);
  font-weight: normal;
}
h1,
[data-heading~="1"] {
  font-size: var(--step-5);
}
h2,
[data-heading~="2"] {
  font-size: var(--step-4);
}
h3,
[data-heading~="3"] {
  font-size: var(--step-3);
}
h4,
[data-heading~="4"] {
  font-size: var(--step-2);
}
h5,
[data-heading~="5"] {
  font-size: var(--step-1);
}
h6,
[data-heading~="6"] {
  font-size: var(--step-0);
}
p,
li {
  max-width: var(--measure);
}

::-webkit-scrollbar {
  width: 10px;
  height: var(--space-2xs);
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 15px;
  border: var(--border-thin, 1px) solid var(--color-light-accent);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-accent);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-left: var(--padding, initial);
}

:root {
  --page-top: var(--space-s-3xl, 12rem);
  --header-height: var(--space-3xl);
  --responsive-padding: var(--space-s-6xl);
}
main,
.footer,
.padded-container {
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding);
}
.measured-container {
  max-width: calc(var(--measure, 80ch) * 1.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

:where(button, a):where(:not(:active)):focus-visible {
  outline-offset: var(--outline-offset, 5px);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

input,
select,
textarea {
  min-height: var(--controls-minimum-height);
  padding-left: var(--space-2xs);
  padding-right: var(--space-2xs);
  border: var(--border-thin) solid;
  border-color: var(--gray-600);
  border-radius: var(--border-radius);
  width: 100%;
}

pre {
  color: var(--gray-25);
  background-color: var(--gray-700);
  padding: var(--space-2xs);
  margin: var(--space-2xs) 0 var(--space-s);
  border-radius: var(--border-radius);
  overflow: auto;
  display: flex;
}

code {
  font-family: var(--font-monospace);
  border: var(--border-thin) solid var(--color-dark-accent);
  padding: calc(var(--space-2xs) * 0.5) var(--space-2xs);
  border-radius: 0;

}

pre code {
  font-size: var(--step--1);
  padding: 0;
  border: none;
  color: var(--gray-25);
  background-color: var(--gray-700);

}
