*,
:after,
:before {
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-sans-serif);
  font-size: var(--step-0);
  background-color: var(--color-light);
}
h1,
h2,
h3, h4, h5, h6 {
  line-height: 1.2;
  --measure: 40ch;
  max-width: var(--measure);
}
h1,
[data-heading~="1"] {
  font-size: var(--step-5);
}
h2,
[data-heading~="2"] {
  font-size: var(--step-4);
}
h3,
[data-heading~="3"] {
  font-size: var(--step-3);
}
h4,
[data-heading~="4"] {
  font-size: var(--step-2);
}
h5,
[data-heading~="5"] {
  font-size: var(--step-1);
}
h6,
[data-heading~="6"] {
  font-size: var(--step-0);
}
p,
  li {
    max-width: var(--measure);
  }

::-webkit-scrollbar {
  width: 10px;
  height: var(--space-2xs);

}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 15px;
  border: var(--border-thin, 1px) solid var(--gray-300);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-700);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-900);
}


ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-left: var(--padding, initial);
}

:root {
  --page-top: var(--space-s-3xl, 12rem);
  --header-height: var(--space-2xl-3xl);
  --responsive-padding: var(--space-s-6xl);
}
main,
.footer,
.padded-container {
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding);
}
.measured-container{
  max-width: calc(var(--measure, 80ch) * 1.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

:where(button, a):where(:not(:active)):focus-visible {
  outline-offset: var(--outline-offset, 5px);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}