input,
button,
a {
  transition-duration: var(--transition-duration, 300ms);
  transition-timing-function: var(--bezier-snappy);
  transition-property: background-color, color, border-color, box-shadow,
    transform, outline-offset;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-duration: 0ms;
  }
}

body > header {
  min-height: var(--header-height);
}
body > main {
  padding-top: var(--page-top);
  padding-bottom: var(--page-top);
}
body > footer {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

body > header abbr {
  text-decoration: none;
  display: block;
  font-size: var(--step-1);
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0 var(--space-s);
  border-radius: var(--border-radius);
  letter-spacing: -1px;
}

body > header abbr sup {
  text-transform: lowercase;
}
body > header abbr sup:before {
  content: "[";
}
body > header abbr sup:after {
  content: "]";
}
/* transition: transform var(--transition-duration, 300ms) var(--bezier-snappy); */
/* body > header abbr span:nth-child(2) {
  transform: translateX(-10%);
}
body > header abbr:hover span:nth-child(2) {
  transform: translateX(0%);
} */

hr {
  height: 1em;
  width: 100%;
  border: none;
  background-image: var(--horizontal-line);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: center;
}

/*=============================================
=            Anchor Heading            =
inspiration: https://codepen.io/thierry/pen/qBqYmgw
=============================================*/

/* [data-heading~="anchor"] a::before {
} */
[data-heading~="anchor"] {
  scroll-margin-top: var(--header-height);
}
[data-heading~="anchor"]:target {
  outline: var(--border-thin) solid var(--color-dark);
  background-color: var(--color-light-accent);
}
[data-heading~="anchor"] a {
  text-decoration: none;
  pointer-events: none;
}
[data-heading~="anchor"] a::before {
  content: "#";
  text-decoration: underline;
  font-weight: lighter;
  padding-left: var(--space-2xs); /* to make the "#" a bigger target */
  padding-right: var(--space-2xs);
  pointer-events: auto;
}

[data-markdown] blockquote {
  border-left: var(--border-thick) solid var(--color-dark);
  background-color: var(--color-light-accent);
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
  width: 100%;
}

[data-markdown] {
  --space: 1.5em;
}

[data-markdown] ul,
[data-markdown] ol {
  max-width: var(--measure);
}
[data-markdown] h3 {
  font-size: var(--step-2);
}
[data-markdown] h4 {
  font-size: var(--step-1);
}
[data-markdown] p {
  --space: 0.5em;
}

[data-markdown] ol {
  --space: var(--space-s);
  --threshold: 30rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
  justify-content: var(--horizontal-alignment, flex-start);
  /* align-items: var(--vertical-alignment, center); */
  list-style-type: none;
  counter-reset: items;
  padding-left: 0;
}

[data-markdown] ol > li {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
  position: relative;
}
[data-markdown] ol > li::before {
  counter-increment: items;
  content: counter(items);
  display: block;
  border-bottom: var(--border-thin) solid var(--gray-400);
  padding-bottom: var(--space-2xs);
  margin-bottom: var(--space-2xs);
}
[data-markdown] ol > li:nth-child(n + 4),
[data-markdown] ol > li:nth-child(n + 4) ~ * {
  /* Switch to a vertical configuration if there are more than 4 child elements */
  flex-basis: 100%;
}

/* PAGE LEVEL BREADCRUMBS */
.breadcrumbs-navigation {
  --measure: initial;
}
.breadcrumbs-navigation li {
  margin-right: var(--space-xs);
}
.breadcrumbs-navigation li,
.breadcrumbs-navigation li a {
  display: inline-flex;
  align-items: center;
}
.breadcrumbs-navigation ul {
  padding-left: 0;
  display: inline-flex;
  overflow-x: auto;
  overflow-y: visible;
}
.breadcrumbs-navigation li a {
  --outline-offset: 0px;
  text-decoration: none;
  border-bottom-width: var(--border-thin);
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
.breadcrumbs-navigation li a:hover {
  border-bottom-color: var(--color-dark);
}
.breadcrumbs-navigation li:not(:last-child)::after {
  content: " /   ";
  margin-left: var(--space-s, 5px);
}
.breadcrumbs-navigation li:last-child {
  flex-grow: 0;
  flex-shrink: 0;
}

/* HOME PAGE CATEGORIES CHIPS FILTER */
.categories-navigation ul {
  --space: var(--space-2xs);
}
.categories-navigation a {
  --button-padding-y: calc(var(--space-2xs) * 0.5);
  --button-padding-x: var(--space-xs);
}
.categories-navigation li {
  margin-left: 0;
}

/*=============================================
=            Story Cards            =
=============================================*/

.story-pagination-navigation a:only-child {
  flex-grow: 0;
  flex-basis: 100%;
  /* flex-basis: min(100%, 60ch); */
}

.story-pagination-navigation a[data-button] {
  --space: var(--space-2xs);
  --vertical-alignment: center;
  --button-display: inline-flex;
  --button-padding-y: var(--space-l);
  --button-border-width: var(--border-thick);
  font-size: var(--step-1);
  position: relative;
}
.story-pagination-navigation a.next-button {
  --horizontal-alignment: end;
  margin-left: auto;
}
.story-pagination-navigation a.previous-button {
  --horizontal-alignment: start;
  margin-right: auto;
}

a.next-button::after,
a.previous-button::before {
  position: absolute;
  font-size: var(--step-0);
  color: var(--color-dark);
  top: 0;
  border: var(--button-border-width) solid var(--color-dark);
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  padding: 0 var(--space-2xs);
}

.story-pagination-navigation a.next-button::after {
  content: "Next";
  right: 0;
  transform: translate(calc(var(--space-s) * -1), -50%);
}
.story-pagination-navigation a.previous-button::before {
  content: "Previous";
  left: 0;
  transform: translate(var(--space-s), -50%);
}

.contribute-story-sidebar {
  --side-width: 600px;
}
.contribute-story-form input,
.contribute-story-form textarea,
.contribute-story-form select {
  --space: var(--space-2xs);
}
.contribute-story-form select {
  max-width: 20ch;
}
.contribute-story-form label {
  font-weight: bold;
}
.contribute-story-form small {
  --space: 0;
}
.contribute-story-form input,
.contribute-story-form textarea {
  max-width: 50ch;
}
.contribute-story-form textarea {
  resize: none;
}

[data-accordion] summary {
  padding: var(--space-s);
  border-bottom: var(--border-thin) solid var(--color-light-accent);
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color var(--transition-duration, 300ms) ease-in-out;
}
[data-accordion] summary:hover {
  background-color: var(--color-hover);
}
[data-accordion] summary::after {
  content: "›";
  margin-left: var(--space-2xs);
  display: inline-block;
  transform-origin: center;
  transition: transform var(--transition-duration, 300ms) var(--bezier-snappy);
}
[data-accordion] details[open] > summary::after {
  transform: rotate(90deg);
}
[data-accordion] summary ~ *:not(summary) {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  margin-top: var(--space-xs);
  margin-bottom: var(--space-s);
}

details[data-sticky] {
  position: relative;
}
details[data-sticky] > summary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-light);
}

details > summary::-webkit-details-marker,
details > summary::marker {
  content: "";
}
details > summary::-webkit-details-marker {
  display: none;
}
summary {
  cursor: pointer;
}

.home-cover-section {
  --min-height: calc(80vh - var(--header-height, 0px));
  --transition-duration: 1s;
  animation: slideDown var(--transition-duration) var(--bezier-swift) forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-3rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input,
textarea {
  background-color: var(--color-light);
  border-color: var(--color-dark);
  border-width: var(--border-thin);
}

.padded-container.measured-container {
  box-sizing: content-box;
}

.site-search {
  width: clamp(20ch, 100%, var(--measure));
}
