---
layout: layouts/home.njk
title: Homepage
description: Front stories with references
---
<p>{{title}}</p>
<ul data-layout="stack box" data-props="space:s noBorder">
    {%- for card in collections.card -%}
        {{card.templateContent | safe}}
    {%- endfor -%}
</ul>