---
layout: layouts/home.njk
title: Homepage
description: Front stories with references
---
<ul data-layout="stack" data-props="space:s">
    {%- for card in collections.card -%}
        {{card.templateContent | safe}}
    {%- endfor -%}
</ul>