---
layout: layouts/home.njk
title: Home
pagination: 
    data: stories
    size: 4
    alias: entries
tags: 
    - pages
---
{% set entries = entries %}
{% set nextStory = collections.stories | getNextCollectionItem(pagination.page) %}
{% set previousStory = collections.stories | getPreviousCollectionItem(pagination.page) %}
{% include "partials/story-card-entries.njk"%}