:root {
  --primary-hue: 170;
  --primary-saturation: 100%;
  --primary-lightness: 21%;
  --primary-hs: var(--primary-hue), var(--primary-saturation);
  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --color-light: var(--gray-50);
  --color-light-accent: var(--gray-100);
  --color-dark-accent: var(--gray-700);
  --color-dark: var(--gray-800);
  
  --color-focus: var(--color-dark);
  --color-focus-shadow: var(--color-dark-accent);


  --shadow-color: 240deg 2% 66%;
  --shadow-elevation-low: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  --shadow-elevation-medium: 0 8px 30px rgb(0, 0, 0, 0.12);

  --text-color: var(--color-dark);
  --color-hover: var(--color-light-accent);

  --border-radius: 0.25rem;

  --bezier-snappy: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --bezier-swift: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  --horizontal-line: var(--horizontal-line-dark);
}
