[data-complexity-preference^="IIII"]:root {
  --primary-hue: 33;
  --primary-saturation: 32%;
  --primary-lightness: 31%;
  --primary-hs: var(--primary-hue), var(--primary-saturation);
  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );

  --color-light: #FFFFFF;
  --color-light-accent: hsl(32, 35%, 80%);
  --color-dark-accent: #735D43;
  --color-dark: hsl(33, 32%, 20%);

  --color-focus: var(--color-dark);
  --color-focus-shadow: var(--color-dark-accent);

  --color-visited: #31068f;

  --shadow-color: 240deg 2% 66%;
  --shadow-elevation-low: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  --shadow-elevation-medium: 0 8px 30px rgb(0, 0, 0, 0.12);

  --text-color: var(--color-dark);
  --color-hover: var(--color-light-accent);

  --border-radius: 0;

  --bezier-snappy: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --bezier-swift: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  --horizontal-line: var(--horizontal-line-dark);
}
