/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ibm-plex-sans-v14-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/ibm-plex-sans-v14-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/ibm-plex-sans-v14-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/ibm-plex-sans-v14-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
[data-complexity-preference^="II"]:root {
  --font-sans-serif: "IBM Plex Sans","-apple-system",
    "BlinkMacSystemFont", "avenir next", "avenir", "segoe ui", "helvetica neue",
    "helvetica", "Cantarell", "Ubuntu", "roboto", "noto", arial, sans-serif;
  --font-serif: "Georgia", "Apple Garamond", "Times New Roman",
    "Baskerville", "Droid Serif", "Times", "Source Serif Pro", serif;
  --font-monospace: "Menlo", "Consolas", "Monaco", "Liberation Mono",
    "Lucida Console", monospace;
  --font-emoji-filter: saturate(2) grayscale(0.9)
    hue-rotate(calc(var(--primary-hue) * 1deg - 50deg));
}

[data-font="emoji"] {
  filter: var(--font-emoji-filter);
}
[data-font="serif"] {
  font-family: var(--font-serif);
}
[data-font="sans-serif"] {
  font-family: var(--font-sans-serif);
}
[data-font="monospace"] {
  font-family: var(--font-monospace);
}
