:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1200,20,1.2,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

  /* --step--1: clamp(0.89rem, calc(0.83rem + 0.28vw), 1.04rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.45vw), 1.25rem);
  --step-1: clamp(1.13rem, calc(0.99rem + 0.68vw), 1.5rem);
  --step-2: clamp(1.27rem, calc(1.07rem + 0.97vw), 1.8rem);
  --step-3: clamp(1.42rem, calc(1.16rem + 1.34vw), 2.16rem);
  --step-4: clamp(1.6rem, calc(1.24rem + 1.8vw), 2.59rem);
  --step-5: clamp(1.8rem, calc(1.33rem + 2.38vw), 3.11rem);
  --step-6: clamp(2.03rem, calc(1.41rem + 3.1vw), 3.73rem); */

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1200,18,1.125,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--1: clamp(0.89rem, calc(0.85rem + 0.20vw), 1.00rem);
  --step-0: clamp(1.00rem, calc(0.95rem + 0.23vw), 1.13rem);
  --step-1: clamp(1.13rem, calc(1.07rem + 0.26vw), 1.27rem);
  --step-2: clamp(1.27rem, calc(1.21rem + 0.29vw), 1.42rem);
  --step-3: clamp(1.42rem, calc(1.36rem + 0.32vw), 1.60rem);
  --step-4: clamp(1.60rem, calc(1.53rem + 0.36vw), 1.80rem);
  --step-5: clamp(1.80rem, calc(1.72rem + 0.41vw), 2.03rem);
  --step-6: clamp(2.03rem, calc(1.94rem + 0.46vw), 2.28rem);

  /* @link https://utopia.fyi/space/calculator/?c=320,16,1.125,1200,20,1.333,6,1,&s=0.75,1.5%7C2%7C3%7C4%7C5,m-2xl%7Cs-3xl */
  --space-2xs: clamp(0.5rem, calc(0.45rem + 0.23vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.68rem + 0.34vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.91rem + 0.45vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.36rem + 0.68vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.82rem + 0.91vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.73rem + 1.36vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.64rem + 1.82vw), 5rem);
  --space-3xl: clamp(5rem, calc(4.55rem + 2.27vw), 6.25rem);
  /* One-up pairs */
  --space-xs-s: clamp(0.75rem, calc(0.57rem + 0.91vw), 1.25rem);
  --space-s-m: clamp(1rem, calc(0.68rem + 1.59vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.14rem + 1.82vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.36rem + 3.18vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.27rem + 3.64vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(3.18rem + 4.09vw), 6.25rem);
  /* Custom pairs */
  --space-m-2xl: clamp(1.5rem, calc(0.23rem + 6.36vw), 5rem);
  --space-s-3xl: clamp(1rem, calc(-0.91rem + 9.55vw), 6.25rem);
  --space-s-6xl: clamp(1rem, calc(-2.27rem + 16.36vw), 10rem);

  --measure: 80ch;

  --border-thin: 0.5px;
  --border-thick: 4px;
  --border-width: var(--border-thin);

  --controls-minimum-height: 46px;


  --gray-0: #FFFFFF;
  --gray-50: #fbfcfe;
  --gray-100: #e4ecf9;
  --gray-200: #b7ccef;
  --gray-300: #89abe4;
  --gray-400: #5b8bda;
  --gray-500: #2f6cce;
  --gray-600: #2657a4;
  --gray-700: #1c417b;
  --gray-800: #132b51;
  --gray-900: #091528;

  --transition-duration: 300ms;

  --horizontal-line-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1022 4'%3E%3Cpath fill='%23000' d='M1019 2v1-1ZM649 3h-1 1Zm370-2ZM629 0l-3 1 4-1h-1ZM475 0v1-1Z'/%3E%3Cpath fill='%23000' d='M1019 2V1v1Zm0-1Zm0 0Zm-4 1Zm0 1Zm0 0V2v1m-1 0V2v1m-2-1h1v1l-1-1M872 1Zm0 1V1v1Zm-11 0h2-2m-12 0V1h1v1h-1m0 0V1v1m-4 0Zm-7 0-15 1h-3l8-1h11-1M735 2V1h7l-1 1-4-1 2 1h-4m0-1Zm17 0h-4 4m119 0Zm143 1ZM730 2h-2 1a15 15 0 0 1 1 0h2-2Zm-8 0Zm-28 1h-2a238 238 0 0 1 2 0Zm-22-2h5l-3 1-2-1m-35 2V2l1 1h-1Zm-1 0 1-1v1h-1Zm-32-1Zm-19 0 1-1v1h-1m-21 0h2-2Zm-8 0h-5 5m-10-1Zm0 0Zm3 0h-2 2m2 1Zm86 0v1-1Zm5 0Zm0 0Zm-2 1a32 32 0 0 1 2-1l-2 1m4-1Zm0-1v1-1Zm0 1ZM505 1h-4 5-1Zm-29 1Zm-5 0h4a255 255 0 0 1-4 0Zm-1 0V1v1Zm-34-1 1 1h-1V1m-51 2h1-1m-3 0-2-1h2v1h2-2m-35-2 2 1-2-1m-19 2h-1a237 237 0 0 1 1 0m-36-1h1-1Zm-2 0h2-2Zm-6 0 1-1-3 1-1-1h6v1h-3m-27 1-1-1h2l-1 1m-59 0-14-1h-1 6-3l1-1h1l2 1h-1 13l-4 1m-22-1h1-1m-3 0Zm-2 0 1-1h1v1h-2m-20 0V1v1m-1 0V1v1m-33 0h-1 1ZM9 2ZM8 2ZM7 3V2v1-1 1m0-1Zm1-1H7h1Zm111 1h-2 2m5-1a43 43 0 0 1 1 0h-1m254 1h-1V1l1 1Zm0 0Zm0 0Zm2 0h-1 1m0 0Zm-1 0h1-1Zm1 0Zm5-1h-1 1m86 0v1-1Zm4 1ZM5 2ZM3 2V1v1ZM2 2V1h1L2 2Zm1017 0V1l1 1V1h-2 1l-2 1h1-1 1-1l-1-1-2-1-1 1h1-4 1-1V0v1h-14V0h-1v1h-13l5-1h-32a43 43 0 0 0-2 0h-2a546 546 0 0 1-12 1h-1l-5-1h-21l-2 1h-24a28879 28879 0 0 1-4 0l-12-1a73 73 0 0 0-9 1h-12V0v1h-1V0l-1 1h-3l-1-1-7 1h-3 2-1v1-1h-8l-8-1h-7l-2 1-3-1-3 1a80 80 0 0 1-6 0l-5-1v1h-32l-3-1-4 1h-17l-1-1v1h-1 1v1h-3V1l1 1h1l-1-1h1-4a239 239 0 0 1-2 0h-2V0l-1 1h-1l-1-1a257 257 0 0 0-9 0h-1l-1 1-3-1-3 1h-30 3-2a156 156 0 0 1-2 0h1-1a499 499 0 0 1-13 0l-13-1v1h-5v1-1 1h-1 1-2V1v1-2 2l-3-1h-2V0v1a60 60 0 0 1-3 0l-4-1 1 1h-2l-3 1h-2V1h2-5l-2-1v1-1 1h-3l-2-1h-5l-3 1-4-1-3 1V0v1h-2a202 202 0 0 0-5 0h-2a124 124 0 0 1-4 0l-1-1-2 1h-1l1-1v1l-2-1-4 1-12-1-8 1h7-4a591 591 0 0 0-3 0h-6V0v1h-5V0v1a240 240 0 0 0-13 0h-4V0l-2 1h2-12l-2-1h-11l-2 1h-1a216 216 0 0 0-8 0 745 745 0 0 0-5 0h-4 4-6 2-8l-1-1v1h-4V0l-1 1h-5 5-14 9l-8-1-13 1-4-1h-1 1-3l-1 1h-13V0v1-1 1h-7l-3-1h-5l-2 1a15 15 0 0 0-3 0V0v1-1l-1 1h-7 3l-3 1-2-1h-2l1-1-4 1-1-1-1 1h-2V0v1h-4V0v1h-1 1-1v1h-1 1-1V1v1-1h-9 4V0l-26 1h-1 7-1a235 235 0 0 1-6 0h-27V0l-4 1-3-1h-15l-5 1h-5 2l-1 1h-1V1h-18l-5-1-2 1h-19l-3-1h-5v1h-5V0l-5 1h-10l-8-1-14 1h-6l-8-1h-3l-1 1-1-1-2 1-10-1-2 1h1-2 1-1l-7-1a490 490 0 0 0-15 1h-3a13 13 0 0 0-4 0h-1 7l-3-1-7 1-15-1h-3a19 19 0 0 0-4 0h-9l-2 1-5-1-4 1a45 45 0 0 1-3 0h-6l-6-1a54 54 0 0 0-5 0H45L34 1h3a460 460 0 0 1-11 0H12V0h-1v1-1l-1 1H7l1-1-2 1v1H5V1v1L4 1H2h1L2 0v2-1 2h1V1v2-1h2L4 3 3 2l1 1H3h1l1-1 1 1-1-1h1v1h1V2v1-1 1h1a140 140 0 0 0 6 0l2-1a90 90 0 0 0 6 0h16l-7-1 16 1a120 120 0 0 1-4 0h13a5226 5226 0 0 0 23 1h3l5-1 2 1 3-1h8l5 1 10-1h1-1a10 10 0 0 0 3 0 10 10 0 0 0 2 1h1l4-1h2a35 35 0 0 0 2 0h10l4 1 6-1h-3 1-2l1-1h4v1h-1 2-1v1h8l6-1 2 1 2-1a180 180 0 0 0 1 0h4v1-1h4l1 1V2l1 1 3-1 2 1h14l4-1 5 1h34l5-1h2l2 1 1-1a64 64 0 0 0 8 1l3-1h2l6 1a212 212 0 0 0 8 0h9V2v1h1a130 130 0 0 0 6-1h1l1 1h3l1-1h-1 4v1l2-1 2 1 5-1h2v1l3-1 2 1a36 36 0 0 0 2 0h19l7-1h4-1a22 22 0 0 0 6 1 39 39 0 0 0 10 0h7V2v1h1l3-1h1v1h18a860 860 0 0 0 14 0l7-1h1l6 1h11a30 30 0 0 0 8 0h2l4-1h4l-8 1h-1 17V2h-5 7a99 99 0 0 0 7 0h-7l3 1h23l2-1 2 1a28 28 0 0 0 6 0l-5-1h3l3 1h-1a14 14 0 0 0 5-1 58 58 0 0 1 8 0h2a58 58 0 0 1 8 0h5-5a51 51 0 0 0 7 0v1-1h2l2 1h18a361 361 0 0 1 7-1h3v1h17-1l-9-1h4a28 28 0 0 0 7 1h13a38 38 0 0 0 6 0l5-1h6l8 1h22a229 229 0 0 1 5 0V2v1-1h1l3 1 1-1v1h7a111 111 0 0 0 12-1h5-2a354 354 0 0 0 11 1h19a34 34 0 0 0 3 0h3l1-1h-3 1a408 408 0 0 1 2 0h9l1 1 1-1h3v1h4l1-1 3 1a135 135 0 0 0 5 0h25l-2-1h1l3 1 2-1a81 81 0 0 0 1 1 160 160 0 0 1 12-1l4 1h6a56 56 0 0 1 5-1l-2 1h53l1-1h5v1-1h3a25 25 0 0 1-3 0 170 170 0 0 0 9 0l6 1h8l-1-1h1v1-2h1-1 3-2l2 1h2l-4 1h6l5-1h10a55 55 0 0 0 2 0h4-3a19 19 0 0 0 8 0h2-1 27a50 50 0 0 0 13 1l12-1 20 1a60 60 0 0 0 1-1h-9 5l17-1h1l-9 1h17v1-1l1 1a89 89 0 0 0 5 0h8V2v1h1V2h1l-1 1 1-1h1v1-1l1 1-1-1h1-1 1V1v2-1ZM533 1Zm486 1V1v1ZM3 1Zm727 1Z'/%3E%3Cpath fill='%23000' d='m149 2 1 1V2h-1Zm846-2a144 144 0 0 0 0 1V0M3 3Zm371 0h-1 1Zm19-3h-1l3 1-2-1Zm153 0v1-1ZM3 2ZM2 2V1L1 2H0h1l1 1V2v1-1Zm1019 0-1-1v1h-1v1h1V2v1l1-1h1-1ZM786 3h4-4ZM230 3Zm642 0h1-1ZM34 1a145 145 0 0 0-8-1l1 1h7Zm344 1v1-1Z'/%3E%3C/svg%3E");
}
/*----------  TOKENS Utilities  ----------*/
[data-props~="noPad"] {
  padding: 0 !important;
}

[data-props~="x:center"] {
  --horizontal-alignment: center;
}
[data-props~="x:between"] {
  --horizontal-alignment: space-between;
}
[data-props~="x:start"] {
  --horizontal-alignment: flex-start;
}
[data-props~="x:end"] {
  --horizontal-alignment: flex-end;
}
[data-props~="x:stretch"] {
  --horizontal-alignment: stretch;
}

[data-props~="y:center"] {
  --vertical-alignment: center;
}
[data-props~="y:between"] {
  --vertical-alignment: space-between;
}
[data-props~="y:start"] {
  --vertical-alignment: flex-start;
}
[data-props~="y:end"] {
  --vertical-alignment: flex-end;
}
[data-props~="y:stretch"] {
  --vertical-alignment: stretch;
}

[data-props~="space:0"] {
  --space: 0;
}
[data-props~="space:flow"] {
  --space: 1em;
}
[data-props~="space:2xs"] {
  --space: var(--space-2xs);
}
[data-props~="space:xs"] {
  --space: var(--space-xs);
}
[data-props~="space:s"] {
  --space: var(--space-s);
}
[data-props~="space:m"] {
  --space: var(--space-m);
}
[data-props~="space:l"] {
  --space: var(--space-l);
}
[data-props~="space:xl"] {
  --space: var(--space-xl);
}
[data-props~="space:2xl"] {
  --space: var(--space-2xl);
}
[data-props~="space:3xl"] {
  --space: var(--space-3xl);
}

[data-props~="noBorder"] {
  border-width: 0 !important;
}
[data-props~="noCurve"] {
  --border-radius: 0;
}
[data-props~="noMeasure"] {
  --measure: initial;
}

