---
permalink: css/style.css
eleventyExcludeFromCollections: true
---
{% include "./_resets.css" %}
{% include "./_fonts.css" %}
{% include "./_globals.css" %}
{% include "./_tokens.css" %}
{% include "./_layouts.css" %}
{% include "./_colors.css" %}
{% include "./components/_buttons.css" %}
{% include "./components/_blockquote.css" %}
{% include "./components/_code.css" %}
{% include "./components/_scrollbar.css" %}
{% include "./components/_details.css" %}
{% include "./_main.css" %}