<nav>
    <a data-button data-layout="cluster" data-props="y:center" href="{{previousPageHref}}">
        {% include "icons/back-icon.njk" %}
        <span>
            {{previousPageLabel}}
        </span>
    </a>
</nav>