<nav>
    <a data-button="small" data-layout="with-icon" data-props="space:xs noBorder" href="{{previousPageHref}}">
        <span aria-hidden="true" data-layout="icon">
            {{previousPageIcon}}
        </span>
        <span>
            {{previousPageLabel}}
        </span>
    </a>
</nav>