<template class="color-scheme-template">
    <form class="color-scheme-form measured-container">
        <fieldset>
            <legend>Theme</legend>
            <label>
                <input type="radio" name="color-scheme" value="dark"/> Dark
            </label>
            <label>
                <input type="radio" name="color-scheme" value="light"/> Light
            </label>
        </fieldset>
    </form>
</template>
<script>
    {% include "./preference-color-scheme.js"%}
</script>