<template class="complexity-template">
    <form class="complexity-form measured-container">
        <fieldset>
            <legend>Complexity</legend>
            <label>
                <input type="radio" name="complexity" value="I"/> I
            </label>
            <label>
                <input type="radio" name="complexity" value="II"/> II
            </label>
            <label>
                <input type="radio" name="complexity" value="III"/> III
            </label>
            <label>
                <input type="radio" name="complexity" value="IIII"/> IIII
            </label>
            <label>
                <input type="radio" name="complexity" value="IIIII"/> IIIII
            </label>
            <label>
                <input type="radio" name="complexity" value="IIIIII"/> IIIIII
            </label>
        </fieldset>
    </form>
</template>
<script>
    {% include "./preference-complexity.js"%}
</script>