<template class="complexity-template">
    <form class="complexity-form measured-container">
        <fieldset data-layout="stack" data-props="space:2xs">
            <legend>Complexity</legend>
            <label>
                <input type="radio" name="complexity" value="I"/> Level 1 (+Reset)
            </label>
            <label>
                <input type="radio" name="complexity" value="II"/> Level 2 (+Typography)
            </label>
            <label>
                <input type="radio" name="complexity" value="III"/> Level 3 (+White Space)
            </label>
            <label>
                <input type="radio" name="complexity" value="IIII"/> Level 4 (+Colors)
            </label>
            <label>
                <input type="radio" name="complexity" value="IIIII"/> Level 5 (+Richer visual style)
            </label>
        </fieldset>
    </form>
</template>
<script>
    {% include "./preference-complexity.js"%}
</script>