<template class="link-visited-template">
    <form class="link-visited-form measured-container">
        <fieldset>
            <legend>Mark visited page</legend>
            <label>
                <input type="radio" name="link-visited" value="true"/> Enabled
            </label>
            <label>
                <input type="radio" name="link-visited" value="false"/> Disabled
            </label>
            <details data-layout="box" data-props="noPad" data-accordion>
                <summary>
                    Preview
                </summary>
                <output data-layout="box" data-props=" noBorder">
                    <ul role="list">
                        <li>
                            <a class="headline-entry" data-button="link noHover" href="/preferences">
                                <span class="headline-text">
                                    This page have been visited
                                </span>
                            </a>
                        </li>
                        <li>
                            <!-- Disable the link by removing the href -->
                            <a class="headline-entry" data-button="link noHover">
                                <span class="headline-text">
                                    This links a page not yet visited
                                </span>
                            </a>
                        </li>
                    </ul>
                </output>
            </details>
        </fieldset>
    </form>
</template>
<script>
    {% include "./preference-link-visited.js" %}</script>