<li class="reference-item" data-props="noMeasure">
    <a rel="noopener nofollow noreferrer" target="{{ '_blank' if reference.url }}" href="{{ (reference.url if reference.url else '#') }}">
        <b>
            {{ reference.name }}
        </b>
    </a>
    | {{ reference.cite if reference.cite }}
</li>