<li class="reference-item" data-props="noMeasure" >
    <a
        data-link rel="noopener" target="{{ '_blank' if reference.url }}" href="{{ (reference.url if reference.url else '#') }}">
        <span data-font="serif">
            <b>{{ reference.cite if reference.cite }}</b>.
            <span>
                {{ reference.name }}
            </span>
        </span>
    </a>
</li>