<li class="reference-item" data-props="noMeasure">
    <a rel="noopener nofollow noreferrer" data-button="link" target="{{ '_blank' if reference.url }}" href="{{ (reference.url if reference.url else '#') }}">
        {{ reference.citation or reference.cite }} 
    </a>
</li>