<footer data-layout="stack" data-props="x:start space:m">
    <hr/>
    <nav>
        <h2 class="visually-hidden" data-heading="6">Other links</h2>
        <div data-layout="cluster">
            {%- for page in collections.webpage %}
                <a data-button="link" href="{{ page.url }}">{{ page.data.title }}</a>
            {% endfor -%}
            <a data-button="link" href="/feed.xml">RSS feed</a>.
        </div>
    </nav>
    <small>
        © 2022 - {{ helpers.currentYear() }} Yannick Nana. Powered by Notion / Eleventy / GitHub / Netlify / Coffee
    </small>
</footer>