<head>
    {% set meta_title = meta.site_name if page.url === "/" else title   %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{description or meta.site_description}}">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="theme-color" content="{{meta.theme_color}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{meta.theme_color}}">
    <meta name="title" content="{{meta_title}}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="alternate" type="application/rss+xml" href="{{ meta.site_url }}/feed.xml" />
    <!-- Open graph - Facebook 1200 x 630 -->
    <link rel="canonical" href="{{meta.site_url}}{{page.url}}">
    <meta property="og:image" content="{{ thumbnail or meta.site_thumbnail }}">
    <!--<meta property="og:image:width" content="1200">-->
    <!--<meta property="og:image:height" content="630">-->
    <meta property="og:site_name" content="{{meta.site_name}}">
    <meta property="og:type" content="{{og_type or 'website'}}">
    <meta property="og:url" content="{{meta.site_url}}{{page.url}}">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{description or meta.site_description}}">
    <!-- Open graph - Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <!--<meta name="twitter:image" content="{{thumbnail or meta.site_thumbnail }}">-->
    <meta name="twitter:creator" content="{{meta.author.twitter_name}}">
    <meta name="twitter:site" content="{{meta.twitter_name}}">
    <meta name="twitter:text:title" content="{{meta_title}}">
    <link rel="manifest" href="/manifest.json" />
    {% if emojicon %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{emojicon}}</text></svg>">
    {% endif %}
    <link rel="apple-touch-icon" href="/assets/images/icons/icon-180.png">
    <link rel="shortcut icon" href="/assets/images/icons/icon-32.png" type="image/x-icon" sizes="32x32" />
    <link rel="shortcut icon" href="/assets/images/icons/icon-16.png" type="image/x-icon" sizes="16x16" />
    <meta name="author" content="{{meta.site_author}}">
    {# Prefetch  main pages #}
    {%- for category in collections.categoriesAndAll %}
        {%- set category_url = '' if category == 'All' else category | slugify -%}
        <link rel="prefetch" href="/{{ category_url }}/" as="document">
    {%endfor%}

    {# {%- for story in collections.stories | limit(30) %}
        <link rel="prefetch" href="/{{story.slug}}/" as="document">
    {% endfor%} #}
    

</head>