{% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key , {allowMissing: true, includeSelf: true}) %}
{% if navPages.length > 0 %}
    <nav aria-label="Breadcrumbs" class="breadcrumbs-navigation">
        <span class="visually-hidden">You are here</span>
        <ul>
            {%- for entry in navPages %}
                <li {% if entry.url == page.url %} class="my-active-class" {% endif %}>
                    <a  href="{{ entry.url }}">{{ entry.title }}</a>
                </li>
            {%- endfor %}
        </ul>
    </nav>
{% endif %}