<header>
    <div class="header" data-layout="cluster" data-props="y:center x:between">
        <a data-layout="cluster" data-props="space:xs" data-heading="5" href="/">
            {% include "icons/fs-icon.njk" %}
        </a>
        {# <a data-button="small" data-props="noBorder" href="#">
            <span aria-hidden="true">
                {% include "../icons/search-icon.njk" %}
            </span>
            <span class="visually-hidden">
                Search
            </span>
        </a> #}
    </div>
</header>