{% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key , {allowMissing: true, includeSelf: false}) %}
{% if navPages.length > 0 %}
    <nav aria-label="Breadcrumbs" class="breadcrumbs-navigation">
        <span class="visually-hidden">You are here</span>
        {{ navPages | eleventyNavigationToHtml | safe }}
    </nav>
{% endif %}