<header>
    <div class="padded-container header" data-layout="cluster" data-props="y:center x:between">
        <a  data-link="noHover" data-heading="4" href="/">
            {{meta.site_name}}
            {# 🎓 #}
        </a>

    </div>
</header>