<li>
    <a data-heading="5" class="headline-entry" itemprop="url" data-button="link" href="/{{ entry.slug }}">
        {# <span aria-hidden="true">
            {{entry.icon}}
        </span> #}
        <span class="headline-text">
            {{ entry.name }}
        </span>
    </a>
</h2></li>