<div data-layout="cover" data-props="space:l noPad">
    <ul data-layout="stack" data-props="noPad space:s">
        {%- for entry in entries -%}
            {% include "partials/story-card-entry.njk" %}
        {%- endfor -%}
    </ul>
    <nav
        aria-label="Pagination" data-props="x:center">
        {# <h2 data-heading="5" id="my-pagination">Pagination</h2> #}
        <ol role="list" data-layout="cluster">
            <li>
                {% if pagination.href.previous %}
                    <a data-button href="{{ pagination.href.previous }}">Previous</a>
                {% else %}
                    <a data-button="disabled" href="#">No previous page</a>
                {% endif %}
            </li>
            {%- for pageEntry in pagination.pages %}
                <li>
                    <a data-button="{{ 'active' if page.url == pagination.hrefs[ loop.index0 ] }}" href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a>
                </li>
            {%- endfor %}
            <li>
                {% if pagination.href.next %}
                    <a data-button href="{{ pagination.href.next }}">Next</a>
                {% else %}
                    <a data-button="disabled" href="#">No next page</a>
                {% endif %}
            </li>
        </ol>
    </nav>
</div>