<article>
    <a class="headline-entry" itemprop="url" data-button="link" href="/{{ entry.slug }}" data-icon="{{entry.icon}}">
        <span aria-hidden="true">
            {{entry.icon}}
        </span>
        {{ entry.name }}
    </a>
    <p>
        {{entry.excerpt}}
    </p>
</article>