<li>
    <a data-link href="/{{ entry.slug  }}">{{ entry.name }}</a>
    {{entry.icon | log}}

    {# {% if entry.categories.length %}
        <div class="story-card__categories" data-layout="cluster" >
            {%- for category in entry.categories %}
                <a  href="/categories/{{category.name | slugify}}" data-tag>{{ category.name }}</a>
            {% endfor -%}
        </div>
    {% endif %} #}
</li>