<ul data-layout="cluster" data-props="space:s noPad y:stretch">
    {%- for post in collections.stories -%}
        <li class="story-card" data-layout="box stack" data-shadow="hoverable focusable">
            <a data-heading="5" href="{{ post.url }}">{{ post.data.story.name }}</a>
            {% if post.data.story.categories.length %}
                <div data-layout="cluster">
                    {%- for category in post.data.story.categories %}
                        <span class="story-tag">{{ category.name }}</span>
                    {% endfor -%}
                </div>
            {% endif %}
        </li>
    {%- endfor -%}
</ul>